<!-- Taken from TutorialEdge-v2 -->
<div class="helpful-post">
  <div id="suggestion-input" class="row">

    <!-- Was this helpful button group -->
    <div class="col-lg-6">
      <h5>Was This Post Helpful?</h5>

      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary">
          <input type="radio" name="options" id="helpful" autocomplete="off"><i class="ion ion-checkmark-round"></i>
          Yes
        </label>
        <label class="btn btn-outline-danger">
          <input type="radio" mame="options" id="nothelpful" autocomplete="off"><i class="ion ion-close-round"></i>
          No
        </label>
      </div>

    </div>
    <!-- End of button group -->
    <!-- GITHUB Pull Request Stuff -->
    <div class="col-lg-6">
      <span class="helpful"><i class="ion ion-social-github"></i> Submit a PR: <a href="https://github.com/elliotforbes/tutorialedge-v2">Edit
          on Github</a></span>
    </div>
    <!-- END of Github PR -->

    <div class="col-lg-12" id="suggestionBox">
      <br />
      <textarea placeholder="Do you have any suggestions as to how we can make it better?" class="form-control" name="suggestion"
        id="suggestion" cols="30" rows="10"></textarea>
      <br />
      <button onclick="submitFeedback()" class="btn btn-outline-primary">Submit Feedback</button>
    </div>
  </div>
  <div id="output"></div>
</div>

<script>
  function submitFeedback() {
    var data = {
      message: document.getElementById("suggestion").value,
      url: window.location.href,
      helpful: document.getElementById("helpful").parentNode.classList.contains('active'),
      nothelpful: document.getElementById("nothelpful").parentNode.classList.contains('active')
    }

    fetch("https://43xaudt448.execute-api.eu-west-1.amazonaws.com/dev/suggestion", {
      method: "POST",
      headers: {
        "Content-Type": "application/json; charset=utf-8"
      },
      body: JSON.stringify(data)
    }).then(function (response) {
      document.getElementById("suggestion-input").classList.add("collapse");
      document.getElementById("output").append("Thank You For Your Feedback!");
    }).catch(function (error) {
      console.log(error);
    });

  }
</script>
